<!DOCTYPE html>
<html>
<head>
<title>Admin Home</title>
<link rel="stylesheet" type="text/css" href="adminhome.css">

</head>
<body>
<div class="container">
<div class="action-box">

<form action="addsong">
        <img src="addplaylist.png" height="100px" width="100px">

        <input type="submit" class="btn" value="ADD SONG">
        </form>
</div>  
<div class="action-box">
      
        <form action="viewsongs">
        <img src="play.png" height="100px" width="100px">
        <input type="submit" class="btn" value="VIEW SONG">
        </form>
        </div>
        <div class="action-box">
        
        <form action="createplaylist">
        <img src="add.png" height="100px" width="100px">
        <input type="submit" class="btn" value="CREATE PLAYLIST">
        </form>
         </div>
         <div class="action-box">
         
        <form action="viewplaylist">
        <img src="video.png" height="100px" width="100px">
        <input type="submit" class="btn" value="VIEW PLAYLIST">
                </form>	
        </div>
        <div class="action-box">
        <form action="logout">
        <img src="exit.png" height="100px" width="100px">
        <input type="submit" class="btn" value="LOGOUT">
        </form>
        </div>
        </div>
</body>
</html>