<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>CUSTOMER HOME</title>
<link rel="stylesheet" type="text/css" href="customerhome.css">

</head>
<body>
<div class="container">
<div class="upper-container">
    <img src="customerhome.png" alt="Customer Home" class="img">
</div>
<div class="lower-container">
<div class="button-container">
<div th:unless="${isPremium}" class="non-premium">
	<form action="pay">
	<input type="submit" class="btn1" value="GET PREMIUM"><br><br>
	</form>
	<form action="logout">
	<input type="submit" class="btn2" value="LOGOUT">
	</form>
	</div>

<div th:if="${isPremium}" class="premium">
	<table border="1">
			<thead>
				<tr>
					<th>Name</th>
					<th>Artist</th>
					<th>Genre</th>
					<th>Play</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="s:${songs}">
				<td th:text="${s.name}"></td>
				<td th:text="${s.artist}"></td>
				<td th:text="${s.genre}"></td>
				
				<td>
					<audio controls>
						<source th:src="${s.link}">
					</audio>
				 </td>
				 
				</tr>
			</tbody>
	</table>
	</div>
</div>
</div>
</div>

</body>
</html>