<!DOCTYPE html>
<html>
<head>
<title>Home Page</title>
<link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>

<div class="container">
<div class="image-container"></div>

<div class="content-container">
<h3>WELCOME TO MUSICMUSE!!</h3>
<br><br>
<p id="p1">Discover and enjoy a wide range of music
genres with <b>MusicMuse</b>. Stream, create personalized
playlists, and premium membership, with easy payment integration
for an enhanced music discovery journey. Experience the ultimate music
journey today!</p>
<br><br>
<p class="text">New Here? Register Now!</p>
<br>

 <form action="registration" class="button-form">
        <input type="submit" value="Registration" class="registrationbutton">
        </form>
<br>

<p class="text">Login to your account!</p>
<br>
<form action="login" class="button-form">
        <input type="submit" value="Login" class="loginbutton">        
        </form>
        </div>
                 </div>
                
         
</body>
</html>